.img-thumb {
    display: block;
    width:310px;
    height:310px;
}
.thumb-produto {
    width:350px;
    height:500px
}
.img-carousel{
    width:1600px;
    height:400px
}

.carousel-inner > .active{
    width:1600px;
    height:400px
}
